$color-error: #FF0000;
$text-color-1: #3C3C3C;
$text-color-2: #101010;
$text-color-white: #ffffff;
$color-orange-dark: #F48919;
$color-orange-light: #FB982F;
$link-color: #112347;
$link-color-light: #3396CE;
$link-color-dark: #13367A;
$link-color-secondary-dark: #1482C1;
$transition: 0.3s;
$font-open-sans: "Open Sans", sans-serif;
$font-days-one: "Days One", sans-serif;
$vertical-padding: clamp(50px,3.125rem + 40px,100px);
$margin-h2: clamp(20px,1.875rem + 14px,50px);