.header {
  // height: 116px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  padding: 18px 0;

  &__img-wrapper {
    margin-top: 10px;
    min-width: clamp(170px,8.125rem + 144px,300px);
    max-width: clamp(170px,8.125rem + 144px,300px);
    max-height: 70px;
    width: 100%;
    
    > a {
      @include img(contain);
    }

  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  &__controls {
    max-width: 865px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;

    &-top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 60px;
      align-items: center;

      &-email {
        font-family: $font-days-one;
        font-size: 14px;
        text-transform: uppercase;
        color: $link-color-light;
        transition: $transition;

        &:hover {
          color: $link-color-secondary-dark;
        }
      }

      &-phones {
        display: flex;
        justify-content: space-between;
        max-width: 624px;
        width: 100%;
        align-items: center;
        gap: 50px;

        &-num {
          display: flex;
          gap: 30px;

          > a {
            color: $link-color;
            font-family: $font-days-one;
            font-size: 16px;
            transition: $transition;

            &:hover {
              color: $link-color-dark;
            }
          }
        }

        &-btn {
          color: $color-orange-dark;
          transition: $transition;
          font-size: 16px;
          text-decoration: underline;

          &:hover {
            color: $color-orange-light;
          }
        }
      }
    }

    &-bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 60px;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #F8F8F8;
        top: -15px;
      }
    }
  }

  nav {
    width: 100%;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    &-link {
      text-transform: uppercase;
      color: $link-color;
      transition: $transition;
      font-size: 16px;

      &:hover {
        color: $link-color-light;
      }
    }
  }

  &__mobile-btns {
    display: flex;
    align-items: center;
    gap: 20px;
    display: none;

    > div {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

.burger {
  display: none;
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;

  .container {
    margin: unset;
    background-color: #fff;
    z-index: 100;
  }
  .header__wrapper {
    padding: 18px 0;
  }
}

.burger-menu {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: 0.5s;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.7);
  }
}

.burger__controls {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 61px;
  z-index: 4;
  padding: 35px 50px;
}

.burger__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 15px;
  align-items: center;
  background-color: #28261F;
  border-bottom: 1px solid var(--line-color);
}

.burger-menu__close-btn {
  height: 24px;
  cursor: pointer;
}

.burger__nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.burger__nav-link {
  font-size: 22px;
  color: var(--text-color-white);
  text-transform: uppercase;
}

.burger__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;

  &::before {
    content: '';
    max-width: 300px;
    width: 100%;
    position: absolute;
    height: 1px;
    background-color: #F8F8F8;
    top: -30px;
  }

  .header__controls-top-phones-btn {
    display: block;
  }

  .header__controls-top-phones {
    flex-direction: column;
    gap: 20px;
  }
}

.burger__controls-link {
  display: flex;
  flex-direction: column;
  gap: 60px;
}