<section class="banner" id="banner">
  <div class="banner__swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="banner__bg" style="background-image: url(../assets/images/banner-slide1.jpg);"></div>
        <div class="container">
          <div class="banner__wrapper">
            <h1>ТЕПЛОВАЯ <br>ИЗОЛЯЦИЯ</h1>
            <a href="#about" class="btn">Узнать подробнее</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner__bg" style="background-image: url(../assets/images/banner-slide2.jpg);"></div>
        <div class="container">
          <div class="banner__wrapper">
            <h2>АНТИКОРРОЗИОННАЯ <br>ЗАЩИТА</h2>
            <a href="#about" class="btn">Узнать подробнее</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="banner__bg" style="background-image: url(../assets/images/banner-slide3.jpg);"></div>
        <div class="container">
          <div class="banner__wrapper">
            <h2>ПРОМЫШЛЕННЫЙ <br>АЛЬПИНИЗМ</h2>
            <a href="#about" class="btn">Узнать подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class="banner__swiper-pagination"></div>
  </div>
</section>