<section class="certificates" id="certificates">
  <div class="container">
    <div class="certificates__wrapper">
      <div class="certificates__left">
        <h2>Сертификаты</h2>
        <p>Производственная деятельность компании лицензирована в установленном законодательством порядке и соответствует всем требованиям по обеспечению охраны труда</p>
        <a href="#" class="btn">Заказать наши услуги</a>
      </div>
      <div class="certificates__right">
        <div class="certificates__grid-wrapper">
          <div class="certificates__grid">
            <div class="certificates__grid-item"><img src="../assets/images/c1.jpg" alt=""></div>
            <div class="certificates__grid-item"><img src="../assets/images/c2.jpg" alt=""></div>
            <div class="certificates__grid-item"><img src="../assets/images/c3.jpg" alt=""></div>
            <div class="certificates__grid-item"><img src="../assets/images/c4.jpg" alt=""></div>
          </div>
          <div class="certificates__grid">
            <div class="certificates__grid-item"><img src="../assets/images/c5.jpg" alt=""></div>
            <div class="certificates__grid-item"><img src="../assets/images/c6.jpg" alt=""></div>
            <div class="certificates__grid-item"><img src="../assets/images/c7.jpg" alt=""></div>
            <div class="certificates__grid-item"><img src="../assets/images/c8.jpg" alt=""></div>
          </div>
        </div>
        <div class="certificates__btns-wrapper">
          <button class="certificates__btn-more">Показать больше</button>
          <button class="certificates__btn-hide">Скрыть</button>
        </div>
      </div>
    </div>
  </div>
</section>