<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <a href="index.html" class="footer__company">АльпИзолСтрой</a>
      <div class="footer__right">
        <a href="#">Политика обработки персональных данных</a>
        <p>Создание сайта: <a href="https://artcly.by/">ArtCly.by</a></p>
      </div>
    </div>
  </div>
  <div class="popup-view popup">
    <div class="popup-view__overlay popup__overlay"></div>
    <div class="popup-view__close popup__close">
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.10764 0.715836C1.49328 0.320491 2.12249 0.316583 2.51301 0.707107L24.2626 22.4567C24.6532 22.8473 24.6571 23.4843 24.2715 23.8797L23.8622 24.2993C23.4765 24.6947 22.8473 24.6986 22.4568 24.308L0.707148 2.55841C0.316624 2.16788 0.312667 1.53081 0.69831 1.13546L1.10764 0.715836Z" fill="#7C7C7C"/>
        <path d="M23.8622 0.715836C23.4766 0.320491 22.8474 0.316583 22.4568 0.707107L0.707204 22.4567C0.31668 22.8473 0.312723 23.4843 0.698366 23.8797L1.1077 24.2993C1.49334 24.6947 2.12255 24.6986 2.51307 24.308L24.2627 2.55841C24.6532 2.16788 24.6572 1.53081 24.2715 1.13546L23.8622 0.715836Z" fill="#7C7C7C"/>
      </svg>
    </div>
    <div class="popup-view__img-wrapper">
      <img src="" class="popup-view__img">
    </div>
  </div>
  <div class="popup-call popup">
    <div class="popup-call__overlay popup__overlay"></div>
    <div class="popup-call__wrapper popup__wrapper">
      <div class="popup-call__close popup__close">
        <svg width="47" height="37" viewBox="0 0 47 37" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7.60938 0.0625L40.8434 32.943L37.1507 36.5964L3.91671 3.71589L7.60938 0.0625Z" fill="#F48919"/>
          <path d="M37.1506 0.0625L3.91662 32.943L7.60928 36.5964L40.8433 3.71589L37.1506 0.0625Z" fill="#F48919"/>
        </svg>
      </div>
      <form action="" class="popup-call__form">
        <div class="popup-call__form-text">
          <h2>Заказать звонок</h2>
          <p>Оставьте Ваши контактные данные <br>и мы свяжемся с Вами в ближайшее время </p>
        </div>
        <div class="popup-call__form-item">
          <div>
            <input type="text" placeholder="Имя" class="input" id="name2">
            <p class="question-form__name2-error error"></p>
          </div>
          <div>
            <input type="tel" placeholder="+375 (__) _______" class="input" id="tel2" value="+375">
            <p class="question-form__tel2-error error"></p>
          </div>
        </div>
        <div class="popup-call__form-item">
          <div>
            <div class="checkbox">
              <input name="personalData" id="personalData2" type="checkbox" />
              <div class="customCheckbox">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7.32184 13.0814L4.42224 10.3219C4.266 10.1732 4.05409 10.0897 3.83313 10.0897C3.61217 10.0897 3.40026 10.1732 3.24402 10.3219C3.08778 10.4706 3 10.6723 3 10.8825C3 10.9867 3.02155 11.0898 3.06342 11.186C3.10529 11.2822 3.16665 11.3696 3.24402 11.4432L6.73691 14.7674C7.0628 15.0775 7.58924 15.0775 7.91513 14.7674L16.756 6.35355C16.9122 6.20485 17 6.00318 17 5.79289C17 5.5826 16.9122 5.38093 16.756 5.23223C16.5997 5.08354 16.3878 5 16.1669 5C15.9459 5 15.734 5.08354 15.5778 5.23223L7.32184 13.0814Z" fill="#294EBC"/>
                </svg>
              </div>
              <label for="personalData" class="checkbox-label">Даю согласие на обработку <a href="#">персональных данных</a></label>
            </div>
            <p class="question-form__checkbox2-error error"></p>
          </div>
          <button type="submit" class="btn" id="call-submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
  <div class="popup-thanks popup">
    <div class="popup-thanks__overlay popup__overlay"></div>
    <div class="popup-thanks__wrapper popup__wrapper">
      <h2>Спасибо за Вашу заявку!</h2>
      <p>Мы свяжемся с Вами в ближайшее время</p>
    </div>
  </div>
</footer>
