<section class="gallery" id="gallery">
  <div class="container">
    <div class="gallery__wrapper">
      <h2>Галерея наших работ</h2>
      <div class="gallery__grid-wrapper">
        <div class="gallery__grid">
          <div class="gallery__grid-item"><img src="../assets/images/w1.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w2.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w3.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w4.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w5.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w6.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w7.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w8.jpg" alt=""></div>
        </div>
        <div class="gallery__grid">
          <div class="gallery__grid-item"><img src="../assets/images/w9.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w10.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w11.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w12.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w13.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w14.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w15.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w16.jpg" alt=""></div>
        </div>
        <div class="gallery__grid">
          <div class="gallery__grid-item"><img src="../assets/images/w17.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w18.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w19.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w20.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w21.jpg" alt=""></div>
          <div class="gallery__grid-item"><img src="../assets/images/w22.jpg" alt=""></div>
        </div>
      </div>
      <div class="gallery__btns-wrapper">
        <button class="gallery__btn-more">Показать больше</button>
        <button class="gallery__btn-hide">Скрыть</button>
      </div>
    </div>
  </div>
</section>