<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__img-wrapper">
        <a href="index.html">
          <img src="../assets/images/logo.svg" alt="АльпИзолСтрой">
        </a>
      </div>
      <div class="header__controls">
        <div class="header__controls-top">
          <a href="mailto:ai_str@bk.ru" class="header__controls-top-email">ai_str@bk.ru</a>
          <div class="header__controls-top-phones">
            <div class="header__controls-top-phones-num">
              <a href="tel:+375445566224">+375 (44) 55-66-224</a>
              <a href="tel:+375292426502">+375 (29) 242-65-02</a>
            </div>
            <button class="header__controls-top-phones-btn">Заказать звонок</button>
          </div>
        </div>
        <div class="header__controls-bottom">
          <nav>
            <ul class="header__nav-list">
              <li><a href="#" class="header__nav-list-link">О компании</a></li>
              <li><a href="#" class="header__nav-list-link">Услуги</a></li>
              <li><a href="#" class="header__nav-list-link">Сертификаты</a></li>
              <li><a href="#" class="header__nav-list-link">Отзывы</a></li>
              <li><a href="#" class="header__nav-list-link">Контакты</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
