<section class="services" id="services">
  <div class="container">
    <div class="services__wrapper">
      <div class="services__item" data-number="1">
        <h3>ТЕПЛОВАЯ ИЗОЛЯЦИЯ</h3>
        <p>Для изоляции трубопроводов, газоходов, емкостей и запорной арматуры изделиями минераловатными, с последующим покрытием их сталью оцинкованной, нержавеющей либо рулонными материалами мы используем только сертифицированные материалы как отечественного, так и иностранного производства.<br><br>Технологии и материалы, которые мы используем при теплоизоляции труб и оборудования, обеспечивают надежную защиту технологического оборудования в течение всего срока эксплуатации.</p>
      </div>
      <div class="services__item" data-number="2">
        <h3>АНТИКОРРОЗИОННАЯ ЗАЩИТА</h3>
        <p>Наши специалисты выполняют работы любой сложности по антикоррозионной защите:<br>
          - строительных, бетонных и металлических конструкций;<br>
          - зданий и инженерных сооружений;<br>
          - технологического и емкостного оборудования;<br>
          - резервуаров и трубопроводов;<br>
          - ферм и цистерн.<br><br>
          
          Полный комплекс работ по антикоррозионной защите включает:<br>
          - пескоструйную или дробеструйную очистку;<br>
          - обеспыливание;<br>
          - обезжиривание;<br>
          - огрунтовку;<br>
          - окраску.</p>
      </div>
      <div class="services__item" data-number="3">
        <h3>ПРОМЫШЛЕННЫЙ АЛЬПИНИЗМ</h3>
        <p>Благодаря современной технологии промышленного альпинизма
          ЧП «АльпИзолСтрой» оперативно и качественно исполняет любые виды услуг по высотным работам методом промышленного альпинизма.<br><br>
          
          Мы применяем исключительные методы перемещения с надежной страховкой. В силу этого наши сотрудники могут добраться до самых труднодоступных мест, что не представляется возможным посредством автовышки или другой специальной техники.</p>
      </div>
      <div class="services__item" data-number="4">
        <h3>ФАСАДНЫЕ РАБОТЫ</h3>
        <p>- Мойка фасада;<br>
          - Гидрофобизация фасада;<br>
          - Герметизация швов фасада;<br>
          - Отделочно-ремонтные работы (утепление, грунтовка, штукатурка, облицовка и т.д.).</p>
      </div>
    </div>
  </div>
</section>