<section class="testimonial" id="testimonial">
  <div class="container">
    <div class="testimonial__wrapper">
      <div class="testimonial__text">
        <h2>Отзывы</h2>
        <p>Что говорят постоянные клиенты о сотрудничестве с нами</p>
      </div>
      <div class="testimonial__swiper-container">
        <div class="testimonial__swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial__img-wrapper">
                <img src="../assets/images/t1.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial__img-wrapper">
                <img src="../assets/images/t2.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial__img-wrapper">
                <img src="../assets/images/t3.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial__img-wrapper">
                <img src="../assets/images/t4.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial__img-wrapper">
                <img src="../assets/images/t5.jpg" alt="">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial__img-wrapper">
                <img src="../assets/images/t5.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="testimonial__swiper-button-next">
          <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.875 45L9.375 22.5L31.875 0L35.8687 3.99375L17.3625 22.5L35.8687 41.0063L31.875 45Z" fill="#C4C4C4"/>
          </svg>
        </div>
        <div class="testimonial__swiper-button-prev">
          <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.875 45L9.375 22.5L31.875 0L35.8687 3.99375L17.3625 22.5L35.8687 41.0063L31.875 45Z" fill="#C4C4C4"/>
          </svg>
        </div>
      </div>
      <div class="testimonial__swiper-pagination"></div>
    </div>
  </div>
</section>